@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

span._3UZaz {
  background-color: #000000;
  display: none;
}

img.b75.emoji.wa._1VzZY.selectable-text.invisible-space.copyable-text {
  display: none;
}

img.b91.emoji.wa._1VzZY.selectable-text.invisible-space.copyable-text {
  display: none;
}

img.b91.emoji.wa._1VzZY {
  display: none;
}

img.b77.emoji.wa._1VzZY.selectable-text.invisible-space.copyable-text {
  display: none;
}

img._5auXc {
  display: none;
}

img._2FAUA {
  display: none;
}

img.b75.emoji.wa._1VzZY {
  display: none;
}

img.b99.emoji.wa._1VzZY.selectable-text.invisible-space.copyable-text {
  display: none;
}

img.b38.emoji.wa._1VzZY.selectable-text.invisible-space.copyable-text {
  display: none;
}

img.b90.emoji.wa._1VzZY {
  display: none;
}

button._1dZc-._1hS6C {
  display: none;
}

div._2kvHM {
  display: none;
}

div._14qwl {
  display: none;
}

img.b99.emoji.wa._1VzZY {
  display: none;
}

img.b77.emoji.wa._1VzZY {
  display: none;
}

img.b76.emoji.wa._1VzZY.selectable-text.invisible-space.copyable-text {
  display: none;
}

img.b106.emoji.wa._1VzZY {
  display: none;
}

img.b60.emoji.wa._1VzZY {
  display: none;
}

img.b89.emoji.wa._1VzZY {
  display: none;
}

img.b76.emoji.wa._1VzZY {
  display: none;
}

img.b92.emoji.wa._1VzZY {
  display: none;
}

img.b94.emoji.wa._1VzZY.selectable-text.invisible-space.copyable-text {
  display: none;
}

div._5auXc {
  ruby-span: ;border-end-start-radius:;
  display: none;
}

div._1rp8-._1f763.app-wrapper-web {
  background-color: #856767;
  
}

div._3Xjbn._3jNGW {
  background-color: #000000;
}

div._1RAno.message-in.focusable-list-item {
  background-color: #000000;
}

div._1RAno.message-out.focusable-list-item {
  background-color: #000000;
}

div.tSmQ1 {
  background-color: #000000;
}

div._1wlJG {
  background-color: #4D0000;
  color: #F5F5F5;
}

div._1Dook {
  background-color: #000000;
}

div._1dB-m {
  background-color: #407043;
}

header._2O84H {
  background-color: #000000;
}

span._1hI5g._1XH7x._1VzZY {
  background-color: #551818;
}

img._3t3gU.rlUm6._1VzZY {
  background-color: #876262;
}

div._22mTQ {
  background-color: #110E0E;
}

div._1C6Zl {
  background-color: #050505;
}

header._1UuMR {
  background-color: #000000;
}

div._3SvgF._1mHgA.copyable-area {
  background-color: #000000;
}

img.b35.emoji.wa._1VzZY.selectable-text.invisible-space.copyable-text {
  display: none;
}

div span span {
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  text-align: center;
}

